.menu {
  margin: 0 auto;
  margin-top: 20px;
  width: 500px;
  padding: 18px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-menu-fondo);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
/* .menu.auth {
  width: 700px;
} */
.menu a {
  color: var(--color-fuente-principal);
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
  color: var(--color-fuente-enfatizada);
}
a.login {
  color: var(--color-enlace);
  font-weight: 800;
}
.menu.scrolled {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(8px);
  background-color: #010101c3;
  z-index: 10;
  padding: 10px 20px;
}
.hamburger.scrolled {
  position: fixed;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(8px);
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 0;
    gap: 1.5rem;
    display: none;
    margin-top: 2.3rem;
  }

  .menu.open {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin: 0.5rem;
    width: 30px;
    height: 25px;
    position: relative;
    z-index: 999;
  }

  .hamburger:before {
    content: '☰';
    font-size: 1.5rem;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    background-color: var(--color-menu-fondo);
    color: var(--color-fuente-principal);
    position: absolute;
    top: 0;
    left: 0;
  }
}
