/* modalesRespuesta.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 9999999;
  display: none;
  text-align: center;
}

.modal-success {
  background-color: #1c7831;
  color: var(--color-fuente-principal);
  border: 2px solid #218838;
}

.modal-error {
  background-color: #b10606;
  color: var(--color-fuente-principal);
  border: 2px solid #b10606;
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.close-btn {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.modal.show {
  display: block; /* Mostrar el modal */
}
